.Rproj.user/
data/
*.pper
.Rproj.user/DF9F9D9C/rmd-outputs
.Rproj.user/DF9F9D9C/saved_source_markers
.Rproj.user/DF9F9D9C/sources/per/t/C6E968FC
.Rproj.user/DF9F9D9C/sources/per/t/C6E968FC-contents
.Rproj.user/DF9F9D9C/sources/prop/644534BE
.Rproj.user/DF9F9D9C/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.RData
.Rhistory
.Rproj.user/DF9F9D9C/build_options
.Rproj.user/DF9F9D9C/sources/prop/F4A0C24E
.Rproj.user/DF9F9D9C/sources/s-126118AD/C6E968FC
.Rproj.user/DF9F9D9C/sources/s-126118AD/C6E968FC-contents
.Rproj.user/DF9F9D9C/sources/s-126118AD/lock_file
data/15._reach_yem_dataset_joint_market_monitoring_initiative_jmmi_may2019.xlsx
data/16._reach_yem_dataset_joint_market_monitoring_initiative_jmmi_june2019.xlsx
data/17.reach_yem_dataset_joint_market_monitoring_initiative_jmmi_july2019.xlsx
data/19.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_September2019.xlsx
data/20.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_October2019.xlsx
data/21.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_November2019.xlsx
data/22.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_December2019.xlsx
data/23.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_January2020.xlsx
data/24.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_Febraury2020.xlsx
data/25.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_March2020-1.xlsx
data/26.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_April2020-Both-Rounds.xlsx
data/27.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_May2020.xlsx
data/28.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_June2020.xlsx
data/29a.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_July2020_Draft-1.xlsx
data/29a.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_July2020_Draft.xlsx
data/29b.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_July2020.xlsx
data/30a.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_August2020.xlsx
data/30b.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_August-2020.xlsx
data/31.REACH_YEM_Joint-Market-Monitoring-Initiative-JMMI_Dataset_September2020.xlsx
data/33.REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_November2020.xlsx
data/AFG_REACH_CVWG_JMMI-Pilot_Dataset_May-2020.xlsx
data/AFG_REACH_CVWG_JMMI_August2020.xlsx
data/AFG_REACH_CVWG_JMMI_June-2020.xlsx
data/AFG_REACH_CVWG_JMMI_June-August2020IPC_Sept2020.xlsx
data/AFG_REACH_CVWG_JMMI_November2020-1.xlsx
data/AFG_REACH_CVWG_JMMI_October2020.xlsx
data/AFG_REACH_CVWG_JMMI_September2020.xlsx
data/lby_dataset_joint_market_monitoring_initiative_jmmi_august_2017.xlsx
data/lby_dataset_joint_market_monitoring_initiative_jmmi_december_2017.xlsx
data/lby_dataset_joint_market_monitoring_initiative_jmmi_july_2017_2.xlsx
data/lby_dataset_joint_market_monitoring_initiative_jmmi_june_2017_3.xlsx
data/lby_dataset_joint_market_monitoring_initiative_jmmi_november_2017.xlsx
data/lby_dataset_joint_market_monitoring_initiative_jmmi_october_2017_2.xlsx
data/lby_dataset_joint_market_monitoring_initiative_jmmi_september_2017.xlsx
data/REACH-CAR-JMMI-Dataset-August-2019.xlsx
data/REACH_CAR_JMMI_Dataset_Nov-2019.xlsx
data/REACH_CAR_JMMI_Dataset_Oct-2019_VF.xlsx
data/REACH_CAR_JMMI_Dataset_Sept-2019.xlsx
data/REACH_ETH_JMMI_Dataset_Nov2020.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_april_2019.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_April_Week_4_2020.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_august_2018_2.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_august_2019.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_August_2020-1.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_december_2018.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_December_2019-1.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_february_2018_0.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_february_2019_1.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_january_2018.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_january_2019_1.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_January_2020.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_july_2018_0.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_july_2018_1.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_july_2019_0.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_July_2020.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_june_2018_0.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_june_2019_0.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_June_2020.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_march_2019_0.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_March_2020.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_may_2019_1.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_May_2020.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_november_2018.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_November_2019.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_November_2020.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_october_2018.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_October_2019.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_October_2020-1.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_september_2018_0.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_september_2019.xlsx
data/reach_lby_dataset_joint_market_monitoring_initiative_jmmi_September_2020.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_april_2020.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_august_2019.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_August_2020.finalxlsx.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_december_2019-1.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_february_2020.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_january_2020.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_July_2020.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_June_2020.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_march_2020.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_May_2020.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_november_2019.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_November_2020.finalxlsx.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_october_2019-1.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_september_2019.xlsx
data/reach_ssd_dataset_joint_market_monitoring_initiative_jmmi_September_2020.xlsx
data/REACH_YEM_Dataset_Joint-Market-Monitoring-Initiative-JMMI_October2020.xlsx
data/reach_yem_dataset_joint_market_monitoring_initiative_jmmi_april2019_1.xlsx
data/reach_yem_dataset_joint_market_monitoring_initiative_jmmi_february2019_.xlsx
data/reach_yem_dataset_joint_market_monitoring_initiative_jmmi_january2019__2.xlsx
data/reach_yem_dataset_joint_market_monitoring_initiative_jmmi_march2019_.xlsx
data/reach_yem_jmmi_dataset_april2018.xlsx
data/reach_yem_jmmi_dataset_august2018_v2_0.xlsx
data/reach_yem_jmmi_dataset_july_2018_0.xlsx
data/reach_yem_jmmi_dataset_june_2018_v1_0.xlsx
data/reach_yem_jmmi_dataset_march2018.xlsx
data/reach_yem_jmmi_dataset_may2018.xlsx
data/reach_yem_jmmi_september18.xlsx
data/reach_yem_joint_market_monitoring_initiative_jmmi_december_2018_0.xlsx
data/reach_yem_joint_market_monitoring_initiative_jmmi_november_2018.xlsx
data/reach_yem_joint_market_monitoring_initiative_jmmi_october_2018.xlsx
data/unnamed-file-2.xlsx
data/unnamed-file.xlsx
man/figures/README-pressure-1.png
